<div class="container shadow border mt-5 p-2 w-25">
  <h4>Title: <%= @task.title %></h4>
  <p>Details: <%= @task.details %></p>
  <p>Completed: <%= @task.completed ? "Yes" : "No"  %></p>

  <%= link_to "Edit", edit_task_path(@task), class: "btn btn-primary btn-sm" %>  <%= link_to "Delete", task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"  %>  <%= link_to "Back to tasks", tasks_path, class: "btn btn-warning btn-sm" %>
</div>
